<app-header></app-header>

<ion-content>

    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">

                <swiper-container>
                    <swiper-slide>
                        <ion-row>
                            <ion-col size="6">
                                <ion-card>
                                    <img
                                      alt="Silhouette of mountains"
                                      src="https://ionicframework.com/docs/img/demos/card-media.png"
                                    />
                                    <ion-card-header>
                                      <ion-card-title>2</ion-card-title>
                                      <ion-card-subtitle>No. de Ventas</ion-card-subtitle>
                                    </ion-card-header>
                                  </ion-card>
                            </ion-col>

                            <ion-col size="6">

                                <ion-card>
                                    <img
                                      alt="Silhouette of mountains"
                                      src="https://ionicframework.com/docs/img/demos/card-media.png"
                                    />
                                    <ion-card-header>
                                      <ion-card-title>200</ion-card-title>
                                      <ion-card-subtitle>Total de Ventas</ion-card-subtitle>
                                    </ion-card-header>
                                  </ion-card>                                
                                
                            </ion-col>
                        </ion-row>
                    </swiper-slide>
                    <swiper-slide>
                        <ion-row>
                            <ion-col size="6">
                                <ion-card>
                                    <img
                                      alt="Silhouette of mountains"
                                      src="https://ionicframework.com/docs/img/demos/card-media.png"
                                    />
                                    <ion-card-header>
                                      <ion-card-title>2</ion-card-title>
                                      <ion-card-subtitle>Productos Vendidos</ion-card-subtitle>
                                    </ion-card-header>
                                  </ion-card>
                            </ion-col>

                            <ion-col size="6">

                                <ion-card>
                                    <img
                                      alt="Silhouette of mountains"
                                      src="https://ionicframework.com/docs/img/demos/card-media.png"
                                    />
                                    <ion-card-header>
                                      <ion-card-title>200</ion-card-title>
                                      <ion-card-subtitle>Ganancia</ion-card-subtitle>
                                    </ion-card-header>
                                  </ion-card>                                
                                
                            </ion-col>
                        </ion-row>


                    </swiper-slide>

                </swiper-container>

            </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
            <ion-col size="11" class="ion-no-padding">
                <ion-searchbar mode="ios" search-icon="search-circle" placeholder="Buscar Venta"></ion-searchbar>    
            </ion-col>
            <ion-col size="1">
                <ion-icon name="filter-circle" size="large" color="medium"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">

                <ion-card>
                    <ion-card-header>
                      <ion-card-title>GORESAM S.A.S</ion-card-title>
                      <ion-card-subtitle>2024-01-17</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="4">Subtotal: $200</ion-col>
                            <ion-col size="4">Subtotal: $10</ion-col>
                            <ion-col size="4">Subtotal: $210</ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>


            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">

                <ion-card>
                    <ion-card-header>
                      <ion-card-title>VERONICA JEANETH OÑA SERRANO</ion-card-title>
                      <ion-card-subtitle>2024-01-17</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                            <ion-col size="4">Subtotal: $300</ion-col>
                            <ion-col size="4">Subtotal: $15</ion-col>
                            <ion-col size="4">Subtotal: $315</ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>

            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>