<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item [button]="true" (click)="gotoUsuarios()">
      <ion-icon
        slot="start"
        name="person"
        size="large"
      ></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-item>

    <ion-item [button]="true" (click)="gotoProductos()">
      <ion-icon
        slot="start"
        name="pricetags"
        size="large"
      ></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-item>

    <ion-item [button]="true" (click)="gotoClientes()">
      <ion-icon
        slot="start"
        name="people"
        size="large"
      ></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-item>

    <ion-item [button]="true" (click)="logout()">
        <ion-icon
          color="danger"
          slot="start"
          name="log-out"
          size="large"
        ></ion-icon>
        <ion-label>Cerrar Sesi&oacute;n</ion-label>
      </ion-item>    
  </ion-list>
</ion-content>
