ion-button {
    --background: var(--ion-color-primarysoft);
    --color: white;
}

ion-icon {
    color: var(--ion-color-primarysoft);
}

ion-item {
    --border-color: var(--ion-color-primarysoft);
}

h2, small {
    color: var(--ion-color-primarysoft);
}