<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
          />
          <ion-card-header>
            <ion-card-title>100</ion-card-title>
            <ion-card-subtitle>Total Productos</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
          />
          <ion-card-header>
            <ion-card-title>50</ion-card-title>
            <ion-card-subtitle>Ventas Registradas</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
          />
          <ion-card-header>
            <ion-card-title>20</ion-card-title>
            <ion-card-subtitle>Usuarios</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/card-media.png"
          />
          <ion-card-header>
            <ion-card-title>250</ion-card-title>
            <ion-card-subtitle>Clientes</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item>
        <ion-icon
          slot="start"
          name="list-circle"
          size="large"
        ></ion-icon>
        <ion-label>Total Ventas</ion-label>
        <ion-note slot="end">6</ion-note>
      </ion-item>

      <ion-item>
        <ion-icon
          slot="start"
          name="list-circle"
          size="large"
        ></ion-icon>
        <ion-label>Ventas Hoy</ion-label>
        <ion-note slot="end">6</ion-note>
      </ion-item>


      <ion-item>
        <ion-icon
          slot="start"
          name="list-circle"
          size="large"
        ></ion-icon>
        <ion-label>Ventas Semana</ion-label>
        <ion-note slot="end">6</ion-note>
      </ion-item>  
      
      <ion-item>
        <ion-icon
          slot="start"
          name="list-circle"
          size="large"
        ></ion-icon>
        <ion-label>Ventas Mes</ion-label>
        <ion-note slot="end">6</ion-note>
      </ion-item>


    </ion-list>
  </ion-grid>
</ion-content>
